
body {
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}


h1 {
    text-align: center;
}



header {
    background-color: #fff;
    color: #e4002b;
    padding: 20px;
    text-align: center;
}

.video-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

video {
    width: 100%;
    height: auto;
    display: block;
}


nav ul {
    list-style-type: none;
    padding: 2%;
    margin: 3%;
    background: #0c0c0c;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color:#fdfdfd;
    text-decoration: none;
}

main {
    padding: 1rem;
}


.bienvenida, .productos-destacados {
    align-items: center;
    margin: 2rem 0;
    
}

.productos-destacados .producto {
    display: inline-block;
    width: 45%;
    margin: 2%;
    background-color: #fff;
    padding: 1rem;
  
}
.productos-destacados img{
    width:590px;
}

footer {
    background-color: #e4002b;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .redes-sociales a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}
